<%= render "shared/form_header"%>




    <h1 class='registration-title'>
      新規登録
    </h1>

  <%= form_with model: @user, url: user_registration_path, class: 'registration-main', local: true do |f| %>
  <%= render "devise/shared/error_messages", model: f.object %>
<div class="Form">
  <div class="Form-Item">
    <p class="Form-Item-Label">
      <span class="Form-Item-Label-Required">必須</span>お名前(全角)
    </p>
      <%= f.text_field :last_name, class:"Form-Item-Input", id:"last-name", placeholder:"例) 山田" %>
      <%= f.text_field :first_name, class:"Form-Item-Input", id:"first-name", placeholder:"例) 太郎" %>
  </div>
  <div class="Form-Item">
    <p class="Form-Item-Label"><span class="Form-Item-Label-Required">必須</span>メールアドレス</p>
    <%= f.email_field :email, class:"Form-Item-Input", id:"email", placeholder:"PC・携帯どちらでも可", autofocus: true %>
  </div>
  <div class="Form-Item">
    <p class="Form-Item-Label"><span class="Form-Item-Label-Required">必須</span>パスワード</p>
    <%= f.password_field :password, class:"Form-Item-Input", id:"password", placeholder:"6文字以上の半角英数字" %>
  </div>
  <div class="Form-Item">
    <p class="Form-Item-Label"><span class="Form-Item-Label-Required">任意</span>パスワード(確認)</p>
    <%= f.password_field :password_confirmation, class:"Form-Item-Input", id:"password-confirmation", placeholder:"同じパスワードを入力して下さい" %>
  </div>
  <div class="Form-Item">
    <p class="Form-Item-Label isMsg"><span class="Form-Item-Label-Required">必須</span>所属部署</p>
    <%= f.text_field :office_name, class:"Form-Item-Input", id:"office_name", placeholder:"例)大阪営業所" %>
  </div>
  <div class="Form-Item">
    <p class="Form-Item-Label isMsg"><span class="Form-Item-Label-Required">必須</span>生年月日</p>
    <%= f.date_field :birthday, class:"Form-Item-Input", id:"office_name", placeholder:"" %>
  </div>
  <%= f.submit "登録する" ,class:"Form-Btn" %>
</div>
<% end %>

<%= render "shared/footer"%>

