<header class='top-page-header'>
  <div class='search-bar-contents'>
    <%= link_to image_tag("logo_loading.png", class:"corp-icon"), "/" %>
    <div class="title">顧客管理システム</div>
    <form class="search-form" action="#">
      <input class='input-box' placeholder='顧客名から探す'>
      <button class="search-button">
        <%= image_tag "search-icon.png", class:"search-icon" %>
      </button>
    </form>
  </div>
  <div class='nav'>
    <ul class='lists-right'>
      <% if user_signed_in? %>
        <div class="user_nav grid-6">
          <li><%= link_to 'ログアウト', "#", class: "logout" %></li>
          <li><%= link_to 'ログイン', "#", class: "login" %></li>
        </div>
      <% else %>
        <div class="grid-6">
          <li><%= link_to "ログイン", "#", class: "login" %> 
          <li><%= link_to '新規登録', "#", class: "sign-up" %></li>
        </div>
      <% end %>
    </ul>
  </div>
</header>