<%= render "shared/header" %>
<div class="search-title">検索結果</div>
<div class="flex-table">
  <div class="flex-row">
    <div class="flex-cell header">施設名</div>
    <div class="flex-cell header">種類</div>
    <div class="flex-cell header">施設所在地</div>
    <div class="flex-cell header">入居定員</div>
    <div class="flex-cell header"></div>
  </div>
  <% @customer.each do |customer| %>
  <div class="flex-row">
    <div class="flex-cell"><%= customer.customer_name %></div>
    <div class="flex-cell"><%= customer.category.name %></div>
    <div class="flex-cell"><%= customer.prefecture.name %></div>
    <div class="flex-cell"><%= customer.capacity %><span>名</span></div>
    <div class="flex-cell"><%= link_to(customer_path(customer.id), class: 'customer-show-btn') do %>
      <span class='customer-show-text'>詳細</span><% end %></div>
  </div>
  <% end %>
</div>

<%= render "shared/footer" %>